.vs
CBSimpleAttributesDistributionCalculator/bin
CBSimpleAttributesDistributionCalculator/obj
WinForms/CBSimpleAttributesDistributionCalculator/bin
WinForms/CBSimpleAttributesDistributionCalculator/obj
WebAssembly/CBSimpleAttributesDistributionCalculator/bin
WebAssembly/CBSimpleAttributesDistributionCalculator/Deploy
WebAssembly/CBSimpleAttributesDistributionCalculator/obj
